.root {
    composes: max-w-screen-lg from global;
    composes: mx-auto from global;
    composes: my-0 from global;
    composes: px-sm from global;

    composes: lg_px-lg from global;
    composes: lg_py-md from global;
}
